extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            path: '../',
            lang: 'ru',
            title: 'О проекте Blog Crypto – наша цель и контакты',
            h1: 'О нас',
            description: 'Информационный ресурс о смарт-контрактах, Биткоине, криптовалюте и технологии блокчейн простыми словами  на русском языке.',
            keywords: 'о Blog Crypto, страница о нас, страница о ресурсе, контакты, форма обратной связи, наша миссия и цели',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + '/ru/about',
            image: PROJECT_URL + '/public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'about',
            list: [
                {
                    value: 'portfolio',
                    title: 'Портфолио',
                    url: meta.path + '/ru/portfolio'
                },
                {
                    value: 'market',
                    title: 'Курс криптовалют',
                    url: meta.path + '/ru/market'
                },
                {
                    value: 'converter',
                    title: 'Конвертер',
                    url: meta.path + '/ru/converter'
                },
                {
                    value: 'blog',
                    title: 'Блог',
                    url: meta.path + '/ru/blog'
                },
                {
                    value: 'about',
                    title: 'О нас',
                    url: meta.path + '/about'
                },
            ]
        }

block main
    section.mb-4
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            .row
                .col-md-8.col-lg-9
                    p Добро пожаловать на страницу информационного ресурса Blog Crypto. Здесь вы можете узнать текущую стоимость биткоина и других криптовалют, посмотреть статистику основных криптовалютных индексов, а также воспользоваться различными сервисами.
                    p Ресурс Blog Crypto предоставляет бесплатные сервисы такие как конвертация валют и персональное портфолио которое поможет проанализировать ваши криптовалютные инвестиции и подскажет когда, следует продать часть активов или докупить к уже имеющимся.
                    p Проект Blog Crypto создан с целью ускорить переход мира на криптовалюту, рассказывая доступным языком о таких понятиях как блокчейн, майнинг, смарт-контракты и прочую финансовую информацию и решения стремясь тем самым уменьшить порог входа в мир блокчейна и криптовалют.
                .col-md-4.col-lg-3.text-center.mt-4.mt-md-0
                    img.logo-img(src= meta.path + 'public/icons/logo.svg', alt="logo", style="width:12rem;height:12rem")

            .row
                .col-sm-9.col-md-8.col.col-lg-7.col-xl-6
                    h2#contacts Контакты

                    .js-form-wrapper

                        iframe(
                            id="form-iframe"
                            name="form-iframe"
                            class="js-form-iframe"
                            style="display:none;"
                            )

                        form(
                            class="js-form"
                            target="form-iframe"
                            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfeBIlsxZj_Voh_Z6NlY-75nQwB2uarhtQPoXiRHKXBVS1PUw/formResponse"
                            method="POST"
                            )

                            .mb-3
                                label.form-label(for="entry.1935367712") Ваше имя
                                input.form-control.js-form-item(
                                    type="text",
                                    id="entry.1935367712",
                                    name="entry.1935367712",
                                    required
                                    minlength="2"
                                    maxlength="180"
                                    title="От 2 до 180 знаков"
                                    )

                            .mb-3
                                label.form-label(for="entry.1868956748") Ваш email
                                input.form-control.js-form-item(
                                    type="email",
                                    id="entry.1868956748",
                                    name="entry.1868956748",
                                    required
                                    maxlength="90"
                                    pattern="^([a-z0-9_-]+\\.)*[a-z0-9_-]+@[a-z0-9_-]+(\\.[a-z0-9_-]+)*\\.[a-z]{2,6}$",
                                    title="your@mail.com"
                                    )

                            .mb-3
                                label.form-label(for="entry.343603617") Тема сообщения
                                select.form-select.js-form-item(id="entry.343603617", name="entry.343603617", required, aria-label="Select theme", aria-describedby="themeHelp")
                                    option(value="", selected, disabled) Выберите тему
                                    option(value="Отзыв или предложение") Отзыв или предложение
                                    option(value="Предложение о сотрудничестве") Предложение о сотрудничестве
                                    option(value="Сообщение об ошибке") Сообщение об ошибке
                                #themeHelp.form-text Выберите тему вашего сообщения

                            .mb-4
                                label.form-label(for="entry.175292203") Ваше сообщение
                                textarea.form-control.js-form-item(
                                    id="entry.175292203",
                                    maxlength=500,
                                    name="entry.175292203",
                                    required,
                                    title="Максимум 500 символов"
                                    rows="4"
                                    )

                            input(type="checkbox", id="check", name="check", hidden, required)
                            button.btn.btn-primary.px-5(type="submit") Отправить

                        .js-form-confirm.d-none
                            .alert.alert-success.mt-4(role="alert")
                                .alert-heading.display-6 Ваше сообщение успешно отправлено!
